/*GLOBAL RULES*/

* {
  margin: 0;
  padding: 3px; /*this padding is for a better view*/
  box-sizing: border-box;
}

/* END GLOBAL RULES*/

/*DEBUG*/

.debug {
  color: transparent; /*Enable this command to make 
                        the contents invisible*/
}

.debug header {
  background-color: red;
}

.debug section {
  border: 1px dashed black;
  background-color: yellow;
}

.debug section *:not(.module-principal-container, .module-alternative) {
  background-color: white;
  border: 1px dashed rgb(0, 0, 0);
                              /* include ":not(nav)" 
                                 for a transparent nav Bg */

                              /* include ":not(.btn-primary-container)"
                                 for a trasparent <section class="btn-top-main"> Bg */

                              /* remove " :not(.module-principal-container) " to hide 
                                 Bg color of the module-principal-container */

                              /* remove " :not(.module-alternative) " to hide 
                                 Bg color of the .module-alternative */
}

.debug main {
  height: 150rem;;
  background-color: yellowgreen;
}

/* END DEBUG*/

/*HEADER SECTION*/

.header-container {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  gap: 10px;
}

/*END HEADER SECTION*/

/*MAIN SECTION*/

.primary-container{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.principal-container{
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.btn-primary-container{
  display: flex;
  gap: 1rem;
}


.img{
    width: 10rem;
    height: 7rem;
    margin-top: 6.5rem;
    margin-right: 3rem;
}

.module-principal-container{
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    margin: 1.5rem;
}

#title-module{
    width: 10rem;
}

.module-p{
    width: 15.6rem;
    margin: 1.5rem;
    margin-left: 0;
}

.alternative-container{
    min-height: 22rem;
    display: flex;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}

.module-alternative{
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    margin: 1.5rem;
}


#title-alternative-module{
    width: 7rem;
}

#alternative-module-p{
    width: 22rem;
    margin: 1.5rem;
    margin-left: 0;
}

.img-alternative{
    width: 10rem;
    height: 7rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 2.5rem;
}
   

.img-3{
  width: 450px;
  height: 200px;
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;      
}



/* END MAIN SECTION*/

