/*GLOBAL RULES*/

* {
  margin: 0;
  padding: 3px; /*this padding is for a better view*/
  box-sizing: border-box;
}

/* END GLOBAL RULES*/

/*DEBUG*/

.debug {
  color: transparent-X; /*Enable this command to make 
                        the contents invisible*/
}

.debug header {
  background-color: red;
}

.debug section {
  border: 1px dashed black;
  background-color: yellow;
}

.debug section * {
  background-color: white;
  border: 1px dashed black; /* include ":not(nav)" 
                                 for a transparent nav Bg */
                              /* include ":not(.btn-top-main)"
                                 for a trasparent <section class="btn-top-main"> Bg */
}

.debug main {
  height: 500px;
  background-color: yellowgreen;
}

/* END DEBUG*/

/*HEADER SECTION*/

.header-container {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  gap: 10px;
}

/*END HEADER SECTION*/

/*MAIN SECTION*/

.top-main-container{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}



p{
    margin: 0 2rem;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
}

.middle-main-container{
    display: flex;
   
}

.prima-img{
    width: 10rem;
    height: 7rem;
}


/* END MAIN SECTION*/

.prova{
    margin: 1.5rem;
}
